

.connected-card-flex-main{
  border-width: 10px;
  border:#ccc;

  overflow-x: hidden;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}
.connected-card-flex-1{
  width: 97%;
  margin: 10px;
  margin-left: 0;
}


.connected-card-flex-2{
  width: 120%;
  margin:5px;

}

.connected-card-flex-3{
  margin: 5px;
}

.connected-card-flex-4{
  margin: 5px;
  width: 130%;
  overflow: hidden;
  overflow-x: hidden;
}


.connected-video2{
  /* margin-top: 20px; */
}

.text-conn{
  position: absolute;
  z-index: 1;
}

.br{
  border-radius: 5px;
}


.cards-container-vertical {
  background: radial-gradient(circle at top, #0f0c29, #302b63, #24243e);
  /* background: radial-gradient(circle at bottom, #0f0c29, #302b63, #24243e); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
    /* padding: 50px 0px; */
    font-size: 11px;
  }




  .connectecardhead{
    margin-left: 50px;
  }



.img-cord{
  height: 280px;
  margin-left: 20%;
}



  /* .................................................................................................. */





















  
  .card {
    margin-top: 80px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.626);
    border: 1px solid #ccc;
    color: #161b21;
    border-radius: 400px;
    padding: 20px;
    text-align: center;
    font-size: 10px;
    position: relative;
    z-index: 1;
  }

  .crd1{
    margin-top: 100px;
  }
  
 .line-svg {
    margin-top: 50px;
    /* margin: 50px 0 50px 0; */
    transform: scale(1.3);
  stroke: rgba(255, 255, 255, 0.626);
  }
  

  hr{
    /* width:2000px; */
    overflow: hidden;
  }



  .connected-video{
    width: 30%;
  }

.lineconn1 {
  display: inline-block;
}
/* ......................................................................................... */





