.testi-head{
    font-size: 40px;
    color: #1c90fc;
    padding-top: 40px;
    padding-bottom: 40px;
}
.testo-cards{
    /* width: 300px; */
    margin: 15px;
    margin-bottom: 20px;
    position: relative;
    /* z-index: 1;  */
    color: black;
    background: rgba(255, 255, 255, 0.118);
}

.testimonial-desc{
    padding-left: 10px;
    text-align: left;
    font-size: 10px;
}

.testimonial-title{
    font-size: 10px;
}
.Testimonial1{
    /* background: radial-gradient(circle at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); */
    margin-left:5%;
    margin-right: 5%;
}

.loadbutton{
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    font-size: 11px;
    font-weight: lighter;
    background-color: #1c90fc;
    border-radius: 0;
}

.loadbutton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }











.video-background-container1 {
    /* background: radial-gradient(circle at center, #0f0c29, #24243e, #302b63); */
    /* background: radial-gradient(circle at center, red 0, blue, green ); */
    
    /* background: linear-gradient(to right, rgba(113, 0, 0, 0), rgba(90, 66, 66, 0.5), rgba(113, 29, 8, 0));   */
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
  }
  
  .video-background1 {
     position: absolute; /*Change from static to absolute */
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the background */
    transform: translate(-50%, -50%);
    /* z-index: -1;  */
    /* Keeps the video behind the content */
  }

  