a:hover{
    color: white;
}

ul{
    font-size: 18px;
}

.li1{
    font-family:'Times New Roman', Times, serif;
    font-size: 13px;
    color: gray;
}

a{
    color: gray;
}

.footer{
    /* background-color: aquamarine; */
}


.footermain {
    background: linear-gradient(
      to bottom,           /* direction */
      #302b63,         /* from-transparent */
      #24243e,  /* via-black/70 */
      black                /* to-black */
    );
  }
  