@tailwind base;
@tailwind components;
@tailwind utilities;


.landingpage{
    width: 100%;
    background-color:#0a0f11;
    /* padding: 30px; */
    text-align: center;
}
.video-background-container {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    padding-bottom: 80px;
  }
  
  .video-background {
    position: absolute; /* Change from static to absolute */
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the background */
    transform: translate(-50%, -50%);
    z-index: -1; 
    /* Keeps the video behind the content */
  }
  
  .content {
    position: relative; /* Set position to relative so z-index works */
    z-index: 1; /* Ensures this content is on top of the video */
    color: white;
    text-align: center;
    padding: 50px;
  }



  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .part-1 {
    flex: 1;
  }
  
  .part-2 {
    margin-top: 70px;
    flex: 1;
  }
  
  .glass-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .glass {
    width: calc(50% - 1rem); /* Adjust width as needed */
    margin: 0.5rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .glass-container {
      justify-content: center;
    }
  }

  /* .............................TRANSPARENT-CARD............................................ */

  .parent-div{
    margin-top: 115px;
  }
  .glass {
    width: 100px;
   height: 100px;
    padding: 1rem;
    color: rgb(20, 64, 90);
    text-align: center;
    background: rgba(255, 255, 255, 0.118);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    display: inline-block;
    transform: translateY(-50%); /* Adjust only for vertical centering */
    cursor: pointer;
    overflow: hidden;
    margin-right: 20px;
}

.glass:before {
    content: '';
    position: absolute;
    top: -40%;
    height: 340px;
    width: 20px;
    background: rgba(255,255,255, 0.3);
    filter: blur(1px);
    box-shadow: 0 0 10px rgba(255,255,255, 0.1);
    transform: rotate(25deg) translateX(-200px);
}

.glass:hover {
    /* background-color: #50595d; */
    background: linear-gradient(to right, rgba(105, 9, 9, 0), rgba(86, 57, 57, 0.5), rgba(113, 29, 8, 0));
    animation: tilt linear 5s infinite;
}

.glass:hover:before {
    animation: shine linear 5s infinite;
}

@keyframes  tilt {
    0% {
        transform: translateY(-50%) skewY(5deg);
    }
    50% {
        transform: translateY(-50%) skewY(-5deg);
    }
    100% {
        transform: translateY(-50%) skewY(5deg);
    }
}

@keyframes  shine {
    0% {
        transform: rotate(25deg) translate(180px, 70px);
    }
    50% {
        transform: rotate(25deg) translate(-180px);
    }
    100% {
        transform: rotate(25deg) translate(180px, 70px);
    }
}

.glass-logo{
    width: 30px;
    height: 30px;
}
/* .....................................AUTOTYPE............................................. */
.autotype{
    display:flex;    
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    margin-left: 10px;
    /* width: 470px; */
    font-weight: bolder;
    font-size: 1vw;
    color: #161b21;

}
.autotype-head{
    margin-top: 80px;
    justify-content: center;
    /* margin-left: 25%; */
    box-shadow: 1px 1px 10px 1px #e77e7e;
    text-align: center;
    justify-content: center;
    /* border-radius: 100px; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 90%;
    /* height: 500px; */
    background-color: rgba(255, 255, 255, 0.626);

}

.devScrypt-name{
    color: #a5003f;
    margin-left:10px;
}

.side-button1{
    margin-top: 50px;
    height: 50px;
    color: #3eabe9;
    border-radius: 50px;
    border-color: #e25a8f;
    border-width: 3px;
    /* font-weight: */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .............................SEARCH BAR............................................................................... */

.input-box{
    border-radius: 100px;
}


.search-button{
    border-radius: 20px;
}



/* ..............................................................................................................................    */


/* .........................job listion......................................................... */

.Hot-jobs{
    float:right;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.626);
}


.video-merge-shadow {
    /* position: absolute; */
    /* height: 100px; */
    /* top: 108vh; */
    bottom: 0;
    width: 100%; 
    /* Adjust width to control the shadow's spread  */
    background: linear-gradient(to right, #101010, #2b231c, #0c0b0a);
    box-shadow: 1px 1px 10px 1px #e77e7e;
    /* z-index: 1; */
   }