@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root{
  background-color: #000000;
}

.landingpage{
    width: 100%;
    background-color: #000000;
    /* padding: 30px; */
    text-align: center;
}
.video-background-container {
  /* background-color: #0c0b0a; */
    position: relative;
    width: 100%;
    height: 750px;  
    overflow: hidden;
    padding-bottom: 80px;
  }
  
  .video-background {
    position: absolute; /* Change from static to absolute */
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the background */
    transform: translate(-50%, -50%);
    z-index: -1; 
    /* Keeps the video behind the content */
    /* background-color: #0c0b0a; */
  }
  
  .content {
    position: relative; /* Set position to relative so z-index works */
    z-index: 1; /* Ensures this content is on top of the video */
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
  }




/* ...........................................flex..............................s */
/* Flex container */
.flex-container {
  /* display: inline-block; */
  width: 100%;
  height: 600px;
  /* height: 100vh; Full viewport height */
}

/* Flex items taking 50% width each */
.flex-item {  
  /* margin: auto; */
  /* margin-bottom: 50px; */
  display: inline-block;
  /* flex: 1; Each takes 50% */
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

/* Specific styles for left and right items */
.left {
  /* background-color: #f0f0f0;  */
}

.right {
  /* background-color: #c0c0c0; Slightly darker gray */
  
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* Stack the divs vertically */
  }
  
  .flex-item {
    width: 100%; /* Each div takes full width */
    height: auto;
  }
}



.part-2{
  display: inline-block;
}
.Working-model-section-0{
  display: inline-block;
}





  .video-background3{
    /* position: absolute; */
    /* margin-left: 100%; */
    width: 100%;
    height: 200%;
    margin-bottom: 100px;
  }
  
  .glass-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .glass {
    width: calc(50% - 1rem); /* Adjust width as needed */
    margin: 0.5rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .glass-container {
      justify-content: center;
    }
  }

  /* .............................TRANSPARENT-CARD............................................ */

  .parent-div{
    margin-top: 115px;
    
  }
  .glass {
    width: 100px;
   height: 100px;
    padding: .5rem;
    color: rgb(20, 64, 90);
    /* color: #a5003f; */
    color: #000;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.118); */
    background-color: #e7dada;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    display: inline-block;
    transform: translateY(-50%); /* Adjust only for vertical centering */
    cursor: pointer;
    overflow: hidden;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

.glass:before {
    content: '';
    position: absolute;
    top: -40%;
    height: 340px;
    width: 20px;
    background: rgba(255,255,255, 0.3);
    filter: blur(1px);
    box-shadow: 0 0 10px rgba(255,255,255, 0.1);
    transform: rotate(25deg) translateX(-200px);
}

.glass:hover {
    /* background-color: #50595d; */
    background: linear-gradient(to right, rgba(105, 9, 9, 0), rgba(86, 57, 57, 0.5), rgba(113, 29, 8, 0));
    animation: tilt linear 5s infinite;
}

.glass:hover:before {
    animation: shine linear 5s infinite;
}

@keyframes  tilt {
    0% {
        transform: translateY(-50%) skewY(5deg);
    }
    50% {
        transform: translateY(-50%) skewY(-5deg);
    }
    100% {
        transform: translateY(-50%) skewY(5deg);
    }
}

@keyframes  shine {
    0% {
        transform: rotate(25deg) translate(180px, 70px);
    }
    50% {
        transform: rotate(25deg) translate(-180px);
    }
    100% {
        transform: rotate(25deg) translate(180px, 70px);
    }
}

.glass-logo{
    width: 30px;
    height: 30px;
}
/* .....................................AUTOTYPE............................................. */
.autotype{
    display:flex;    
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    margin-left: 10px;
    /* width: 470px; */
    font-weight: bolder;
    font-size: .9vw;
    color: #161b21;
    color: #f0f0f0;

}

@media (max-width: 768px) {
  .autotype {
    font-size: .5vw;
  }
}

.autotype-head{
    /* margin-top: 40px; */
    justify-content: center;
    margin-left:20px;
    /* box-shadow: 1px 1px 10px 1px #e77e7e; */
    text-align: center;
    justify-content: center;
    /* border-radius: 100px; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius:100px ;
    width: 100%;
    /* height: 500px; */
    /* background-color: rgba(255, 255, 255, 0.626); */
    /* background-color: #0a0f11bc; */
    /* background-color: #161b21; */
    /* border: 2px solid rgb(242, 242, 242); */
    /* box-shadow: 0px 0px 100px 20px rgba(213, 201, 201, 0.2); */

}

.devScrypt-name{
    color:  #1c90fc;
    margin-left:10px;
}

.side-button1{
    margin-top: 50px;
    height: 50px;
    color: #3eabe9;
    border-radius: 50px;
    border-color: #e25a8f;
    border-width: 3px;
    /* font-weight: */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .............................SEARCH BAR............................................................................... */

.input-box{
    border-radius: 100px;
}


.search-button{
    border-radius: 20px;
}



/* ..............................................................................................................................    */




/* ............................... SECTION 2 ....................................................... */


.Working-model {
    position: relative;
    width: 100%;  
    overflow: hidden;
    padding-bottom: 80px;
    display: flex;
    /* background-image: url("../assets/landing-assets/bg2-r.png");
    background-size: cover;
    background-repeat: no-repeat; */
  }


  @media (max-width: 768px) {
    .Working-model  {
      /* background-image: url("../assets/landing-assets/bg2.jpg");
    background-size: 1000px 500px; */
      align-items: center;
      justify-content: center;
      flex-direction: column; /* Stack the divs vertically */
      /* background-repeat:repeat-y; */
    }
    
    .flex-item1 {
      width: 100%; /* Each div takes full width */
      height: auto;
    }
  }

  .Working-model {
    /* flex: 1; */
    bottom: 0;
    width: 100%; 
    /* Adjust width to control the shadow's spread  */
    /* background: linear-gradient(to right, #101010, #2b231c, #0c0b0a); */
    /* box-shadow: 1px 1px 10px 1px #e77e7e;
    box-shadow: 0px 0px 10px 10px rgba(238, 229, 229, 0.2); */
    /* z-index: 1; */
   }
  


  .video-background2 {
    position: absolute; /* Change from static to absolute */
    top: 50%;
    left: 25%;
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensures the video covers the background */
    transform: translate(-50%, -50%);
    z-index: -1; 
    /* Keeps the video behind the content */
    /* background-color: #0c0b0a; */
    border-radius: 100px;
    /* box-shadow: 0px 0px 100px 20px rgba(213, 201, 201, 0.2); */
  }

  .Working-model-section-2 {
    margin: 6%;
    margin-top: 150px;
    width: 50%;
    
  }


  .Working-model-head{
    font-size: 3vw;
    font-weight: 600;
  }
.Working-model-head-desc{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1vw;
  display: inline-block;
  padding: 0.9rem 0;
  cursor: pointer;

}

  .Working-model-section-1 {
    margin-top: 150px;
    text-align: center;
    font-size: 3vw;
    width: 50%;
    margin-left: 20px;
  }


  .Working-model-section-1{
    position: relative;
    display: inline-block;
    background-image: url('../assets/landing-assets/Profile.png'); 
    background-size: cover;
    background-position: center;

    transform-origin: center; 
  }
  



  .working-side-button1{
    background-color: #1c90fc;
    margin: 20px;
    margin-top: 50px;
    border-radius: 0;
  }

  .working-side-button2{
    margin: 20px;
    margin-top: 50px;
    border-radius: 0;
    background-color: #000;
    color:#1c90fc;
  }



  .working-side-button1:hover{
   
    border: 2px solid transparent;
    color :rgb(241, 234, 246);
    transform :scale(1.05);
    will-change: transform;
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
  }


  .working-side-button2:hover{

    background-color: #1c90fc;;
    border: 2px solid transparent;
    color :rgb(235, 231, 238);
    transform :scale(1.05);
    will-change: transform;
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
  }




/* .section-2image {
    background: linear-gradient(to right, rgba(105, 9, 9, 0), rgba(86, 57, 57, 0.5), rgba(113, 29, 8, 0));
    animation: tilt linear 5s infinite;
}

.section-2image:hover:before {
    animation: shine linear 5s infinite;
}

@keyframes  tilt {
    0% {
        transform: translateY(-10%) skewY(5deg);
    }
    50% {
        transform: translateY(-10%) skewY(-5deg);
    }
    100% {
        transform: translateY(-10%) skewY(5deg);
    }
}

@keyframes  shine {
    0% {
        transform: rotate(25deg) translate(180px, 70px);
    }
    50% {
        transform: rotate(25deg) translate(-180px);
    }
    100% {
        transform: rotate(25deg) translate(180px, 70px);
    }
} */




























  
/* .........................job listion......................................................... */

.Hot-jobs{
  float:right;
  margin-right: 10px;
  /* background-color: rgba(255, 255, 255, 0.626); */
  /* background-color: #161b2185; */
  border-radius: 4px;
  border:#f0f0f0;
}

.Hot-jobs{
text-align: left;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
/* background-color: #fed9ff; */
/* width: 600px; */
height: 700px;
overflow-x: hidden;
overflow-y: auto;
padding: 20px;
border: 2px solid rgb(242, 242, 242);
}




/* Hide scrollbar for WebKit browsers */
.Hot-jobs::-webkit-scrollbar {
width: 0; /* Hide scrollbar width */
background: transparent; /* Make background transparent */
}

/* Hide scrollbar for Firefox */
.Hot-jobs {
scrollbar-width: thin; /* Hide scrollbar width in Firefox */
scrollbar-color: transparent transparent; /* Set both thumb and track colors to transparent */
}



