.Testimonial h2{
    font-size: 45px;
    color: #3eabe9;
    padding-top: 40px;
}
.testo-cards{
    position: relative;
    z-index: 1; 
    color: black;
    background: rgba(255, 255, 255, 0.118);
}
.video-background-container1 {
    background: linear-gradient(to right, rgba(113, 0, 0, 0), rgba(90, 66, 66, 0.5), rgba(113, 29, 8, 0));  
    position: relative;
    height: 600px;
    overflow: hidden;
  }
  
  .video-background1 {
     position: absolute; /*Change from static to absolute */
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the background */
    transform: translate(-50%, -50%);
    z-index: -1; 
    /* Keeps the video behind the content */
  }

  
